/build/
/install/

# /wrk/ itself is not ignored for better visibility of the new/modified input files
/wrk/results-*/

.vscode/

*.aiopa
*.dat
*.log
*.o
*.op2
*.op3
*.opa
*.png
*.pyc
*.reac

.DS_Store
CMakeUserPresets.json

execution_log.txt
